.userInfo {
    text-align: left;
    margin-left: 20px;
}

.userInfo ul {
    list-style-type: none;
}

ul li {
    width: 350px;

}

li p:nth-child(1) {
    display: inline;
    margin-left: 10px;
    text-align: left;
}

li p:nth-child(2) {
    display: inline;
    margin-left: 50px;
    text-align: left;
}