ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}


li {
  list-style-type: none;
  margin: 5px;
}



.element {
  font-size: 13px;
  width: 150px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #eae7e7;
}

.element-text {
  background-color: #eae7e7;
  color: black;
  font-size: 15px;
}

.element-id {

  margin-right: 10px;
}

.element-img {
  padding: 5px;
  margin-top: 10px;
}

.album-photos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn-back {
  margin-left: auto;
  border: none;
  border-radius: 15px;
  background-color: #eae7e7;
 }

.btn-back:hover  {
  background-color: #c9c6c6;
}

.btn-back:active  {
  background-color: #9f9f9f;
}

.album-photos-wrapper {
  display: flex;
  flex-wrap: wrap;
}